<div class="vue-examples">
   
    <div data-vue-root="CustomComponent" class="mx-auto px-4">
    <custom-component></custom-component>
  </div>
</div>

<div data-vue-root="CustomComponentSecond" class="mx-auto px-4">
    <custom-component-second></custom-component-second>
  </div>

{% schema %}
    {
        "name": "Vue Examples",
        "settings": []
    }
{% endschema %}